:root {
  --color-haiti-DEFAULT: #0b0f2e;
  --color-haiti-50: #4b5ad4;
  --color-haiti-100: #3648cf;
  --color-haiti-200: #2937a9;
  --color-haiti-300: #1f2a80;
  --color-haiti-400: #151c57;
  --color-haiti-500: #0b0f2e;
  --color-haiti-600: #010205;
  --color-haiti-700: #000000;
  --color-haiti-800: #000000;
  --color-haiti-900: #000000;
  --color-genoa-DEFAULT: #126e64;
  --color-genoa-50: #7ceade;
  --color-genoa-100: #66e6d8;
  --color-genoa-200: #3adfcd;
  --color-genoa-300: #20c6b4;
  --color-genoa-400: #199a8c;
  --color-genoa-500: #126e64;
  --color-genoa-600: #0b423c;
  --color-genoa-700: #041614;
  --color-genoa-800: #000000;
  --color-genoa-900: #000000;
  --color-yellowFuel-DEFAULT: #f3a227;
  --color-yellowFuel-50: #ffffff;
  --color-yellowFuel-100: #fef5e8;
  --color-yellowFuel-200: #fbe0b8;
  --color-yellowFuel-300: #f8cc88;
  --color-yellowFuel-400: #f6b757;
  --color-yellowFuel-500: #f3a227;
  --color-yellowFuel-600: #db890c;
  --color-yellowFuel-700: #ab6b09;
  --color-yellowFuel-800: #7a4c07;
  --color-yellowFuel-900: #4a2e04;
  --color-anakiwa-DEFAULT: #97e5ff;
  --color-anakiwa-50: #ffffff;
  --color-anakiwa-100: #ffffff;
  --color-anakiwa-200: #ffffff;
  --color-anakiwa-300: #fdffff;
  --color-anakiwa-400: #caf2ff;
  --color-anakiwa-500: #97e5ff;
  --color-anakiwa-600: #64d8ff;
  --color-anakiwa-700: #31ccff;
  --color-anakiwa-800: #00befd;
  --color-anakiwa-900: #0098ca;
  --color-whiteLilac-DEFAULT: #f5f7fb;
  --color-whiteLilac-50: #ffffff;
  --color-whiteLilac-100: #ffffff;
  --color-whiteLilac-200: #ffffff;
  --color-whiteLilac-300: #ffffff;
  --color-whiteLilac-400: #ffffff;
  --color-whiteLilac-500: #f5f7fb;
  --color-whiteLilac-600: #d1daec;
  --color-whiteLilac-700: #acbdde;
  --color-whiteLilac-800: #88a0cf;
  --color-whiteLilac-900: #6382c1;
  --color-scarpaFlow-DEFAULT: #565567;
  --color-scarpaFlow-50: #cdccd5;
  --color-scarpaFlow-100: #bfbeca;
  --color-scarpaFlow-200: #a3a2b3;
  --color-scarpaFlow-300: #88869c;
  --color-scarpaFlow-400: #6d6c83;
  --color-scarpaFlow-500: #565567;
  --color-scarpaFlow-600: #3f3e4b;
  --color-scarpaFlow-700: #27272f;
  --color-scarpaFlow-800: #101013;
  --color-scarpaFlow-900: #000000;

  --color-bg-base: var(--color-genoa-DEFAULT);
  --color-bg-primary: var(--color-yellowFuel-DEFAULT);
  --color-bg-secondary: var(--color-whiteLilac-DEFAULT);
  --color-text-base: var(--color-haiti-DEFAULT);
  --color-text-primary: var(--color-scarpaFlow-DEFAULT);
  --color-text-secondary: white;
  --color-text-link: var(--color-genoa-DEFAULT);

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);

  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
  --accent-8: #111111;
  --accent-9: #000;

  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}

[data-theme='dark'] {
  --color-bg-base: var(--color-genoa-DEFAULT);
  --color-bg-primary: var(--color-yellowFuel-DEFAULT);
  --color-bg-secondary: var(--color-whiteLilac-DEFAULT);
  --color-text-base: var(--color-haiti-DEFAULT);
  --color-text-primary: var(--color-scarpaFlow-DEFAULT);
  --color-text-secondary: white;
  --color-text-link: var(--color-genoa-DEFAULT);

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);

  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
